.bg-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

input {
  border: none;
  outline: none;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333333;
  font-weight: 600;
  margin: 5px 0px !important;
  font-size: 16px;
  border-bottom: 1px solid #49b009;
  height: 50px;
}

input::placeholder {
  color: #757575;
  font-size: 15px;
}

label {
  font-size: 13px;

  font-weight: 600;
  margin-left: 5px;
}

.password-container,
.confirm-password-container {
  border-bottom: 1px solid #49b009;
  background-color: #f4f4f4;
  border-radius: 5px;
  height: 50px;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#password,
#confirmPassword {
  width: 80%;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.hide-show-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  width: 50px;
  cursor: pointer;
}

.invalid {
  border: 1px solid #f74402;
}

.hide {
  display: none;
}

.invalid-text {
  font-size: 9px;
}
